@charset "UTF-8";

/* 弹窗 CSS Document 
 * ver：1.0
 * By：小黄鹂
 * ICQ：2934532638
 * Date：15/10/09
*/

/**common**/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,caption, tfoot, thead,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;font-family:微软雅黑, Arial, Helvetica, sans-serif;}
html,body{ width:100%; max-width:640px; min-height:100%; background-color:#efefef; margin:0 auto; padding:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
input{border:none;padding:0px;margin:0px;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
a{ text-decoration:none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
.fl{float:left;}
.fr{float:right;}
.clear{height:0px;overflow:hidden;font-size:0px;clear:both;}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {-webkit-appearance: none;}


/*成功弹窗1*/
.Popup_a { width:280px; position:fixed; top:30%; left:20px; border-radius:5px; background:rgba(255,255,255,1); padding:15px 0px;}
.Popup_a h1 { width:65px; margin:0px auto 7px; height:65px;}
.Popup_a h1 img { width:65px; height:65px;}
.Popup_a h2 { width:280px; margin:0px auto; font-size:14px; color:#000; font-weight:normal; text-align:center;}
.Popup_a .lganiu { width:85%; margin:15px auto 0px;}
.Popup_a .lganiu li { width:50%; float:left;}
.Popup_a .lganiu li a { display:block; width:90%; margin:0px auto; height:35px; background:#1cb35f; font-size:14px; color:#fff; line-height:35px; border-radius:4px; text-align:center;}
.Popup_a .lganiu li a:active { background:#0fa654;}
.Popup_a .lganiu li a.z1 { background:#ff9306;}
.Popup_a .lganiu li a.z1:active { background:#ec8600;}
.Popup_a .btn { position:absolute; right:-12px; top:-12px; width:25px; height:25px;}
.Popup_a .btn img { width:100%;}
.Popup_a .qdan {width:80%; margin:15px auto 0px;}
.Popup_a .qdan a { width:100%; display:block;  height:35px; background:#ff9306; font-size:14px; color:#fff; line-height:35px; border-radius:4px; text-align:center;}
.Popup_a .qdan a:active { background:#ec8600;}

.Popup_b { width:280px; position:fixed; top:30%; left:20px; border-radius:5px; background:rgba(255,255,255,1); padding:7px 0px;}
.Popup_b img { width:44px; height:44px; margin-right:5px; float:right;}
.Popup_b table tr td{font-size:14px;color:#000; vertical-align:middle;}
.Popup_b table tr td:first-child {width:100px;}
.Popup_a, .Popup_b {display:none;-webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-duration: .5s; animation-duration: .5s;}
/*遮罩*/
.maskBg{width:100%;height:100%;background-color:rgba(0,0,0,0.6);position:fixed;left:0;top:0;z-index:10000;display:none;}
/*动画*/
.bounceInDown{-webkit-animation-name:bounceInDown;animation-name:bounceInDown}
@-webkit-keyframes bounceInDown{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}100%{-webkit-transform:none;transform:none}}
@keyframes bounceInDown{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);-ms-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);-ms-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);-ms-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);-ms-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}100%{-webkit-transform:none;-ms-transform:none;transform:none}}

.bounceOutUp{-webkit-animation-name:bounceOutUp;animation-name:bounceOutUp}
@-webkit-keyframes bounceOutUp{20%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}100%{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}}
@keyframes bounceOutUp{20%{-webkit-transform:translate3d(0,-10px,0);-ms-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,20px,0);-ms-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}100%{opacity:0;-webkit-transform:translate3d(0,-2000px,0);-ms-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}}

.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
@-webkit-keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}
@keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);-ms-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}

.zoomOut{-webkit-animation-name:zoomOut;animation-name:zoomOut}
@-webkit-keyframes zoomOut{0%{opacity:1}50%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}100%{opacity:0}}
@keyframes zoomOut{0%{opacity:1}50%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);-ms-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}100%{opacity:0}}
